@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}
:root {
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --border-color: #e6e5e5;
  --back-light-color: #707070;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* -----------Transition------------ */
  --trans-05: all 0.5s ease;
  --trans-03: all 0.3s ease;
  --trans-02: all 0.2s ease;
}

body {
  height: 100vh;
}

body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --border-color: #4d4c4c;
  --back-light-color: #ccc;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15.625rem;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--trans-05);
}

nav.close {
  width: 4.5625rem;
}
nav .logo-name {
  display: flex;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 2.8rem;
}

nav .logo-image img {
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 0.9rem;
  transition: var(--trans-03);
  font-family: "Poppins", sans-serif;
}

nav.close .logo {
  opacity: 0;
  pointer-events: none;
}

nav .menu-items {
  margin-top: 2.5rem;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 3.125rem;
  text-decoration: none;
  position: relative;
}

.menu-items li a i {
  min-width: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 100%;
  color: var(--back-light-color);
}

.menu-items a .nav-item {
  font-size: 16px;
  font-weight: 400;
  color: var(--back-light-color);
  transition: var(--trans-05);
}

nav.close li a .nav-item {
  opacity: 0;
  pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .nav-item {
  color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .nav-item {
  color: var(--text-color);
}

.nav-links li a:hover::before {
  position: absolute;
  left: -6px;
  content: "";
  height: 5px;
  width: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

body.dark .nav-links li a:hover::before {
  background-color: var(--text-color);
}

.menu-items .mode {
  display: flex;
  align-items: center;
}

.menu-items .toggle-mode {
  min-width: 3rem;
  height: 3.3rem;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-mode .switch {
  position: relative;
  width: 2.9rem;
  height: 1.6rem;
  background-color: var(--toggle-color);
  display: inline-block;
  border-radius: 25px;
}

.switch::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--panel-color);
  transition: var(--trans-03);
}

.menu-items .logout-mode {
  border-top: 1px solid var(--border-color);
  padding: 10px;
}

body.dark .switch::before {
  left: 25px;
}

/* dashboard main page css */
.dashboard {
  position: relative;
  left: 15.625rem;
  background-color: var(--panel-color);
  width: calc(100% - 15.625rem);
  height: 100vh;
  padding: 0.625rem 0.875rem;
  transition: var(--trans-05);
}

nav.close ~ .dashboard {
  left: 4.5625rem;
  width: calc(100% - 4.5625rem);
}

.dashboard .top {
  position: fixed;
  top: 0;
  padding: 0.625rem 0.875rem;
  left: 15.625rem;
  width: calc(100% - 15.625rem);
  background: var(--panel-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--trans-05);
}

nav.close ~ .dashboard .top {
  left: 4.5625rem;
  width: calc(100%-4.5625rem);
}

.sidebar-toggle {
  font-size: 1.675rem;
  cursor: pointer;
  color: var(--text-color);
}

.dashboard .top .search-box {
  position: relative;
  height: 2.5125rem;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 1.875rem;
}

.top .search-box input {
  width: 100%;
  height: 100%;
  background-color: var(--panel-color);
  border: 1px solid var(--border-color);
  padding: 0 1.8rem 0 3.3rem;
  position: absolute;
  outline: none;
  border-radius: 4px;
  color: var(--text-color);
}

.top .search-box input:focus {
  outline: none;
}

.top .search-box i {
  position: absolute;
  left: 0.875rem;
  font-size: 1.375rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: var(--back-light-color);
}

.top img {
  width: 2.5rem;
  border-radius: 50%;
}

/* Dashboard body */
.dashboard .dashboard_body {
  padding-top: 3.125rem;
}

.dashboard_body .title {
  margin: 4.375rem 0 1.875rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard_body .title i {
  position: relative;
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: var(--primary-color);
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 4px;
}

.dashboard_body .title .title_text {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.dashboard_body .boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.dashboard_body .boxes .box {
  width: calc(100% / 3 - 15px);
  background: var(--box1-color);
  padding: 0.875rem 1.375rem;
  display: flex;
  align-items: center;
  transition: var(--trans-05);
  gap: 10px;
  flex-direction: column;
  border-radius: 6px;
}

.boxes .box .box_text {
  white-space: nowrap;
  font-weight: 600;
  color: var(--text-color);
  font-size: 18px;
}

.boxes .box .box_number {
  font-weight: 600;
  font-size: 5rem;
  color: var(--text-color);
  font-size: 2.6rem;
}

.boxes .box i {
  font-size: 2.5rem;
  color: var(--text-color);
}

.boxes .box.box2 {
  background-color: var(--box2-color);
}

.boxes .box.box3 {
  background-color: var(--box3-color);
}

.dashboard_body .activity .activity_data {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.activity_data .data {
  display: flex;
  flex-direction: column;
}

.activity .data_title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
}

.activity_data .data_list {
  margin-top: 15px;
  white-space: nowrap;
  font-weight: 500;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  nav {
    width: 4.5625rem;
  }
  nav.close {
    width: 15.625rem;
  }
  nav .logo {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .nav-item {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .nav-item {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 4.5625rem;
    width: calc(100% - 4.5625rem);
  }
  nav.close ~ .dashboard {
    left: 15.625rem;
    width: calc(100% - 15.625rem);
  }
  nav ~ .dashboard .top {
    left: 4.5625rem;
    width: calc(100% - 4.5625rem);
  }
  nav.close ~ .dashboard .top {
    left: 15.625rem;
    width: calc(100% - 15.625rem);
  }
  .activity .activity_data {
    overflow-y: scroll;
  }
}

@media (max-width: 780px) {
  .dashboard_body .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dashboard_body .boxes .box {
    width: 100%;
  }
}
